@mixin btn($bg-color : green){
    display: inline-block;
    width: 20px;
    border-radius: $base-border-radius;
    background-color: $bg-color;
}

.sk-btn {
    @include btn();
}

@each $key, $val in $colors{
    .sk-btn-#{$key}{
        @include btn($val);
        &:hover{
            background-color: lighten($val, 5);
        }
    }
    .sk-btn-outline-#{$key}{
        @include btn ();
        border: $base-border-thickness solid $val;
        &:hover{ 
            background-color: $val;
            color: white;
        }
    }
    .sk-btn-complement-#{$key}{
        @include btn($val);
        color: light-comp($val);
        &:hover{
            color: $val;
        }

    }
}