@use 'sass:math';
.sk-card{
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    box-shadow: $base-box-shadow;
    border-radius: math.div($base-border-radius,4);
    color :map-get($colors, 'primary');
}

// @debug gunakan ini untuk melihat data di terminal