@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
/* @debug map-get($colors,"pruple"); //menampilkan value dari key yang di panggil
@debug map-has-key($colors, "secondary"); //mengembalikan nilai true jika map yang di panggil bernial benar
@debug map-remove($colors, "primary");//menghapus value map;
@debug map-merge($colors,("pink":#ffc0cb)); //menambah value map baru;  */
* {
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  top: 0;
  padding: 0;
  background-color: #E5E5E5;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10;
}

.gap-1 {
  margin-left: -10;
  margin-right: -10;
}

.gap-2 > * {
  padding: 20;
}

.gap-2 {
  margin-left: -20;
  margin-right: -20;
}

.gap-3 > * {
  padding: 30;
}

.gap-3 {
  margin-left: -30;
  margin-right: -30;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
/* belajar menggunakan loop lv1 */
.text-primary {
  color: #2666CF;
}

.bg-primary {
  background-color: #2666CF;
}

.text-hover-key:hover {
  color: #2666CF;
}

/* belajar loop lv 2 */
.text-primary-light-1 {
  color: #3c75d4;
}

.bg-primary-light-1 {
  color: #3c75d4;
}

.text-hover-primary-light-1:hover {
  color: #2868cf;
}

.text-primary-light-2 {
  color: #5185d9;
}

.bg-primary-light-2 {
  color: #5185d9;
}

.text-hover-primary-light-2:hover {
  color: #2a69d0;
}

.text-primary-light-3 {
  color: #6794dd;
}

.bg-primary-light-3 {
  color: #6794dd;
}

.text-hover-primary-light-3:hover {
  color: #2d6bd0;
}

.text-primary-light-4 {
  color: #7da3e2;
}

.bg-primary-light-4 {
  color: #7da3e2;
}

.text-hover-primary-light-4:hover {
  color: #2f6cd1;
}

.text-primary-light-5 {
  color: #93b3e7;
}

.bg-primary-light-5 {
  color: #93b3e7;
}

.text-hover-primary-light-5:hover {
  color: #316ed1;
}

.text-primary-light-6 {
  color: #a8c2ec;
}

.bg-primary-light-6 {
  color: #a8c2ec;
}

.text-hover-primary-light-6:hover {
  color: #336fd2;
}

.text-primary-light-7 {
  color: #bed1f1;
}

.bg-primary-light-7 {
  color: #bed1f1;
}

.text-hover-primary-light-7:hover {
  color: #3571d2;
}

.text-primary-light-8 {
  color: #d4e0f5;
}

.bg-primary-light-8 {
  color: #d4e0f5;
}

.text-hover-primary-light-8:hover {
  color: #3772d3;
}

.text-primary-light-9 {
  color: #e9f0fa;
}

.bg-primary-light-9 {
  color: #e9f0fa;
}

.text-hover-primary-light-9:hover {
  color: #3a74d3;
}

.text-primary-dark-1 {
  color: #225cba;
}

.bg-primary-dark-1 {
  color: #225cba;
}

.text-primary-dark-2 {
  color: #1e52a6;
}

.bg-primary-dark-2 {
  color: #1e52a6;
}

.text-primary-dark-3 {
  color: #1b4791;
}

.bg-primary-dark-3 {
  color: #1b4791;
}

.text-primary-dark-4 {
  color: #173d7c;
}

.bg-primary-dark-4 {
  color: #173d7c;
}

.text-primary-dark-5 {
  color: #133368;
}

.bg-primary-dark-5 {
  color: #133368;
}

.text-primary-dark-6 {
  color: #0f2953;
}

.bg-primary-dark-6 {
  color: #0f2953;
}

.text-primary-dark-7 {
  color: #0b1f3e;
}

.bg-primary-dark-7 {
  color: #0b1f3e;
}

.text-primary-dark-8 {
  color: #081429;
}

.bg-primary-dark-8 {
  color: #081429;
}

.text-primary-dark-9 {
  color: #040a15;
}

.bg-primary-dark-9 {
  color: #040a15;
}

.text-secondary {
  color: #3C79F5;
}

.bg-secondary {
  background-color: #3C79F5;
}

.text-hover-key:hover {
  color: #3C79F5;
}

/* belajar loop lv 2 */
.text-secondary-light-1 {
  color: #5086f6;
}

.bg-secondary-light-1 {
  color: #5086f6;
}

.text-hover-secondary-light-1:hover {
  color: #3e7af5;
}

.text-secondary-light-2 {
  color: #6394f7;
}

.bg-secondary-light-2 {
  color: #6394f7;
}

.text-hover-secondary-light-2:hover {
  color: #407cf5;
}

.text-secondary-light-3 {
  color: #77a1f8;
}

.bg-secondary-light-3 {
  color: #77a1f8;
}

.text-hover-secondary-light-3:hover {
  color: #427df5;
}

.text-secondary-light-4 {
  color: #8aaff9;
}

.bg-secondary-light-4 {
  color: #8aaff9;
}

.text-hover-secondary-light-4:hover {
  color: #447ef5;
}

.text-secondary-light-5 {
  color: #9ebcfa;
}

.bg-secondary-light-5 {
  color: #9ebcfa;
}

.text-hover-secondary-light-5:hover {
  color: #4680f6;
}

.text-secondary-light-6 {
  color: #b1c9fb;
}

.bg-secondary-light-6 {
  color: #b1c9fb;
}

.text-hover-secondary-light-6:hover {
  color: #4881f6;
}

.text-secondary-light-7 {
  color: #c5d7fc;
}

.bg-secondary-light-7 {
  color: #c5d7fc;
}

.text-hover-secondary-light-7:hover {
  color: #4a82f6;
}

.text-secondary-light-8 {
  color: #d8e4fd;
}

.bg-secondary-light-8 {
  color: #d8e4fd;
}

.text-hover-secondary-light-8:hover {
  color: #4c84f6;
}

.text-secondary-light-9 {
  color: #ecf2fe;
}

.bg-secondary-light-9 {
  color: #ecf2fe;
}

.text-hover-secondary-light-9:hover {
  color: #4e85f6;
}

.text-secondary-dark-1 {
  color: #366ddd;
}

.bg-secondary-dark-1 {
  color: #366ddd;
}

.text-secondary-dark-2 {
  color: #3061c4;
}

.bg-secondary-dark-2 {
  color: #3061c4;
}

.text-secondary-dark-3 {
  color: #2a55ac;
}

.bg-secondary-dark-3 {
  color: #2a55ac;
}

.text-secondary-dark-4 {
  color: #244993;
}

.bg-secondary-dark-4 {
  color: #244993;
}

.text-secondary-dark-5 {
  color: #1e3d7b;
}

.bg-secondary-dark-5 {
  color: #1e3d7b;
}

.text-secondary-dark-6 {
  color: #183062;
}

.bg-secondary-dark-6 {
  color: #183062;
}

.text-secondary-dark-7 {
  color: #12244a;
}

.bg-secondary-dark-7 {
  color: #12244a;
}

.text-secondary-dark-8 {
  color: #0c1831;
}

.bg-secondary-dark-8 {
  color: #0c1831;
}

.text-secondary-dark-9 {
  color: #060c19;
}

.bg-secondary-dark-9 {
  color: #060c19;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-hover-key:hover {
  color: white;
}

/* belajar loop lv 2 */
.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-hover-key:hover {
  color: black;
}

/* belajar loop lv 2 */
.text-gray {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-hover-key:hover {
  color: #808080;
}

/* belajar loop lv 2 */
.text-gray-light-1 {
  color: #8d8d8d;
}

.bg-gray-light-1 {
  color: #8d8d8d;
}

.text-hover-gray-light-1:hover {
  color: #818181;
}

.text-gray-light-2 {
  color: #999999;
}

.bg-gray-light-2 {
  color: #999999;
}

.text-hover-gray-light-2:hover {
  color: #838383;
}

.text-gray-light-3 {
  color: #a6a6a6;
}

.bg-gray-light-3 {
  color: #a6a6a6;
}

.text-hover-gray-light-3:hover {
  color: #848484;
}

.text-gray-light-4 {
  color: #b3b3b3;
}

.bg-gray-light-4 {
  color: #b3b3b3;
}

.text-hover-gray-light-4:hover {
  color: #858585;
}

.text-gray-light-5 {
  color: silver;
}

.bg-gray-light-5 {
  color: silver;
}

.text-hover-gray-light-5:hover {
  color: #868686;
}

.text-gray-light-6 {
  color: #cccccc;
}

.bg-gray-light-6 {
  color: #cccccc;
}

.text-hover-gray-light-6:hover {
  color: #888888;
}

.text-gray-light-7 {
  color: #d9d9d9;
}

.bg-gray-light-7 {
  color: #d9d9d9;
}

.text-hover-gray-light-7:hover {
  color: #898989;
}

.text-gray-light-8 {
  color: #e6e6e6;
}

.bg-gray-light-8 {
  color: #e6e6e6;
}

.text-hover-gray-light-8:hover {
  color: #8a8a8a;
}

.text-gray-light-9 {
  color: #f2f2f2;
}

.bg-gray-light-9 {
  color: #f2f2f2;
}

.text-hover-gray-light-9:hover {
  color: #8b8b8b;
}

.text-gray-dark-1 {
  color: #737373;
}

.bg-gray-dark-1 {
  color: #737373;
}

.text-gray-dark-2 {
  color: #666666;
}

.bg-gray-dark-2 {
  color: #666666;
}

.text-gray-dark-3 {
  color: #5a5a5a;
}

.bg-gray-dark-3 {
  color: #5a5a5a;
}

.text-gray-dark-4 {
  color: #4d4d4d;
}

.bg-gray-dark-4 {
  color: #4d4d4d;
}

.text-gray-dark-5 {
  color: #404040;
}

.bg-gray-dark-5 {
  color: #404040;
}

.text-gray-dark-6 {
  color: #333333;
}

.bg-gray-dark-6 {
  color: #333333;
}

.text-gray-dark-7 {
  color: #262626;
}

.bg-gray-dark-7 {
  color: #262626;
}

.text-gray-dark-8 {
  color: #1a1a1a;
}

.bg-gray-dark-8 {
  color: #1a1a1a;
}

.text-gray-dark-9 {
  color: #0d0d0d;
}

.bg-gray-dark-9 {
  color: #0d0d0d;
}

.text-pruple {
  color: #9900ff;
}

.bg-pruple {
  background-color: #9900ff;
}

.text-hover-key:hover {
  color: #9900ff;
}

/* belajar loop lv 2 */
.text-pruple-light-1 {
  color: #a31aff;
}

.bg-pruple-light-1 {
  color: #a31aff;
}

.text-hover-pruple-light-1:hover {
  color: #9a03ff;
}

.text-pruple-light-2 {
  color: #ad33ff;
}

.bg-pruple-light-2 {
  color: #ad33ff;
}

.text-hover-pruple-light-2:hover {
  color: #9b05ff;
}

.text-pruple-light-3 {
  color: #b84dff;
}

.bg-pruple-light-3 {
  color: #b84dff;
}

.text-hover-pruple-light-3:hover {
  color: #9c08ff;
}

.text-pruple-light-4 {
  color: #c266ff;
}

.bg-pruple-light-4 {
  color: #c266ff;
}

.text-hover-pruple-light-4:hover {
  color: #9d0aff;
}

.text-pruple-light-5 {
  color: #cc80ff;
}

.bg-pruple-light-5 {
  color: #cc80ff;
}

.text-hover-pruple-light-5:hover {
  color: #9e0dff;
}

.text-pruple-light-6 {
  color: #d699ff;
}

.bg-pruple-light-6 {
  color: #d699ff;
}

.text-hover-pruple-light-6:hover {
  color: #9f0fff;
}

.text-pruple-light-7 {
  color: #e0b3ff;
}

.bg-pruple-light-7 {
  color: #e0b3ff;
}

.text-hover-pruple-light-7:hover {
  color: #a012ff;
}

.text-pruple-light-8 {
  color: #ebccff;
}

.bg-pruple-light-8 {
  color: #ebccff;
}

.text-hover-pruple-light-8:hover {
  color: #a114ff;
}

.text-pruple-light-9 {
  color: #f5e6ff;
}

.bg-pruple-light-9 {
  color: #f5e6ff;
}

.text-hover-pruple-light-9:hover {
  color: #a217ff;
}

.text-pruple-dark-1 {
  color: #8a00e6;
}

.bg-pruple-dark-1 {
  color: #8a00e6;
}

.text-pruple-dark-2 {
  color: #7a00cc;
}

.bg-pruple-dark-2 {
  color: #7a00cc;
}

.text-pruple-dark-3 {
  color: #6b00b3;
}

.bg-pruple-dark-3 {
  color: #6b00b3;
}

.text-pruple-dark-4 {
  color: #5c0099;
}

.bg-pruple-dark-4 {
  color: #5c0099;
}

.text-pruple-dark-5 {
  color: #4d0080;
}

.bg-pruple-dark-5 {
  color: #4d0080;
}

.text-pruple-dark-6 {
  color: #3d0066;
}

.bg-pruple-dark-6 {
  color: #3d0066;
}

.text-pruple-dark-7 {
  color: #2e004d;
}

.bg-pruple-dark-7 {
  color: #2e004d;
}

.text-pruple-dark-8 {
  color: #1f0033;
}

.bg-pruple-dark-8 {
  color: #1f0033;
}

.text-pruple-dark-9 {
  color: #0f001a;
}

.bg-pruple-dark-9 {
  color: #0f001a;
}

.text-orange {
  color: #FD841F;
}

.bg-orange {
  background-color: #FD841F;
}

.text-hover-key:hover {
  color: #FD841F;
}

/* belajar loop lv 2 */
.text-orange-light-1 {
  color: #fd9035;
}

.bg-orange-light-1 {
  color: #fd9035;
}

.text-hover-orange-light-1:hover {
  color: #fd8521;
}

.text-orange-light-2 {
  color: #fd9d4c;
}

.bg-orange-light-2 {
  color: #fd9d4c;
}

.text-hover-orange-light-2:hover {
  color: #fd8623;
}

.text-orange-light-3 {
  color: #fea962;
}

.bg-orange-light-3 {
  color: #fea962;
}

.text-hover-orange-light-3:hover {
  color: #fd8826;
}

.text-orange-light-4 {
  color: #feb579;
}

.bg-orange-light-4 {
  color: #feb579;
}

.text-hover-orange-light-4:hover {
  color: #fd8928;
}

.text-orange-light-5 {
  color: #fec28f;
}

.bg-orange-light-5 {
  color: #fec28f;
}

.text-hover-orange-light-5:hover {
  color: #fd8a2a;
}

.text-orange-light-6 {
  color: #fecea5;
}

.bg-orange-light-6 {
  color: #fecea5;
}

.text-hover-orange-light-6:hover {
  color: #fd8b2c;
}

.text-orange-light-7 {
  color: #fedabc;
}

.bg-orange-light-7 {
  color: #fedabc;
}

.text-hover-orange-light-7:hover {
  color: #fd8d2f;
}

.text-orange-light-8 {
  color: #ffe6d2;
}

.bg-orange-light-8 {
  color: #ffe6d2;
}

.text-hover-orange-light-8:hover {
  color: #fd8e31;
}

.text-orange-light-9 {
  color: #fff3e9;
}

.bg-orange-light-9 {
  color: #fff3e9;
}

.text-hover-orange-light-9:hover {
  color: #fd8f33;
}

.text-orange-dark-1 {
  color: #e4771c;
}

.bg-orange-dark-1 {
  color: #e4771c;
}

.text-orange-dark-2 {
  color: #ca6a19;
}

.bg-orange-dark-2 {
  color: #ca6a19;
}

.text-orange-dark-3 {
  color: #b15c16;
}

.bg-orange-dark-3 {
  color: #b15c16;
}

.text-orange-dark-4 {
  color: #984f13;
}

.bg-orange-dark-4 {
  color: #984f13;
}

.text-orange-dark-5 {
  color: #7f4210;
}

.bg-orange-dark-5 {
  color: #7f4210;
}

.text-orange-dark-6 {
  color: #65350c;
}

.bg-orange-dark-6 {
  color: #65350c;
}

.text-orange-dark-7 {
  color: #4c2809;
}

.bg-orange-dark-7 {
  color: #4c2809;
}

.text-orange-dark-8 {
  color: #331a06;
}

.bg-orange-dark-8 {
  color: #331a06;
}

.text-orange-dark-9 {
  color: #190d03;
}

.bg-orange-dark-9 {
  color: #190d03;
}

.sk-p-0 {
  padding: 0;
}

.sk-p-1 {
  padding: 0.75rem;
}

.sk-p-2 {
  padding: 1.5rem;
}

.sk-p-3 {
  padding: 3rem;
}

.sk-p-4 {
  padding: 4.5rem;
}

.sk-p-5 {
  padding: 6rem;
}

.sk-m-0 {
  margin: 0;
}

.sk-m-1 {
  margin: 0.75rem;
}

.sk-m-2 {
  margin: 1.5rem;
}

.sk-m-3 {
  margin: 3rem;
}

.sk-m-4 {
  margin: 4.5rem;
}

.sk-m-5 {
  margin: 6rem;
}

.sk-pl-0 {
  padding-left: 0;
}

.sk-pl-1 {
  padding-left: 0.75rem;
}

.sk-pl-2 {
  padding-left: 1.5rem;
}

.sk-pl-3 {
  padding-left: 3rem;
}

.sk-pl-4 {
  padding-left: 4.5rem;
}

.sk-pl-5 {
  padding-left: 6rem;
}

.sk-pr-0 {
  padding-right: 0;
}

.sk-pr-1 {
  padding-right: 0.75rem;
}

.sk-pr-2 {
  padding-right: 1.5rem;
}

.sk-pr-3 {
  padding-right: 3rem;
}

.sk-pr-4 {
  padding-right: 4.5rem;
}

.sk-pr-5 {
  padding-right: 6rem;
}

.sk-pt-0 {
  padding-top: 0;
}

.sk-pt-1 {
  padding-top: 0.75rem;
}

.sk-pt-2 {
  padding-top: 1.5rem;
}

.sk-pt-3 {
  padding-top: 3rem;
}

.sk-pt-4 {
  padding-top: 4.5rem;
}

.sk-pt-5 {
  padding-top: 6rem;
}

.sk-pb-0 {
  padding-bottom: 0;
}

.sk-pb-1 {
  padding-bottom: 0.75rem;
}

.sk-pb-2 {
  padding-bottom: 1.5rem;
}

.sk-pb-3 {
  padding-bottom: 3rem;
}

.sk-pb-4 {
  padding-bottom: 4.5rem;
}

.sk-pb-5 {
  padding-bottom: 6rem;
}

.sk-mb-0 {
  margin-bottom: 0;
}

.sk-mb-1 {
  margin-bottom: 0.75rem;
}

.sk-mb-2 {
  margin-bottom: 1.5rem;
}

.sk-mb-3 {
  margin-bottom: 3rem;
}

.sk-mb-4 {
  margin-bottom: 4.5rem;
}

.sk-mb-5 {
  margin-bottom: 6rem;
}

.sk-mt-0 {
  margin-top: 0;
}

.sk-mt-1 {
  margin-top: 0.75rem;
}

.sk-mt-2 {
  margin-top: 1.5rem;
}

.sk-mt-3 {
  margin-top: 3rem;
}

.sk-mt-4 {
  margin-top: 4.5rem;
}

.sk-mt-5 {
  margin-top: 6rem;
}

.sk-ml-0 {
  margin-left: 0;
}

.sk-ml-1 {
  margin-left: 0.75rem;
}

.sk-ml-2 {
  margin-left: 1.5rem;
}

.sk-ml-3 {
  margin-left: 3rem;
}

.sk-ml-4 {
  margin-left: 4.5rem;
}

.sk-ml-5 {
  margin-left: 6rem;
}

.sk-mr-0 {
  margin-right: 0;
}

.sk-mr-1 {
  margin-right: 0.75rem;
}

.sk-mr-2 {
  margin-right: 1.5rem;
}

.sk-mr-3 {
  margin-right: 3rem;
}

.sk-mr-4 {
  margin-right: 4.5rem;
}

.sk-mr-5 {
  margin-right: 6rem;
}

.sk-o-10 {
  opacity: 0.1;
}

.sk-o-20 {
  opacity: 0.2;
}

.sk-o-30 {
  opacity: 0.3;
}

.sk-o-40 {
  opacity: 0.4;
}

.sk-o-50 {
  opacity: 0.5;
}

.sk-o-60 {
  opacity: 0.6;
}

.sk-o-70 {
  opacity: 0.7;
}

.sk-o-80 {
  opacity: 0.8;
}

.sk-o-90 {
  opacity: 0.9;
}

.sk-o-100 {
  opacity: 1;
}

.sk-br {
  border-radius: 20px;
}

.sk-br-none {
  border-radius: 0;
}

.sk-br-xs {
  border-radius: 5px;
}

.sk-br-sm {
  border-radius: 10px;
}

.sk-br-lg {
  border-radius: 40px;
}

.sk-br-full {
  border-radius: 50%;
}

.sk-display-n {
  display: none;
}

.sk-display-b {
  display: block;
}

.sk-display-f {
  display: flex;
}

.sk-display-i {
  display: inline;
}

.sk-display-inb {
  display: inline-block;
}

.sk-font-sm {
  font-size: 0.75rem;
}

.sk-font-md {
  font-size: 1rem;
}

.sk-font-lg {
  font-size: 1.5rem;
}

.sk-font-xl {
  font-size: 2rem;
}

.sk-font-xxl {
  font-size: 3rem;
}

.section-heros-product .contain-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-heros-product .contain-row .contain-text {
  width: 400px;
}
.section-heros-product .contain-row .contain-text h3 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #333237;
}
.section-heros-product .contain-row .contain-text .line-pane {
  padding: padding 10px 12px;
  border-left: 5px solid #FB8351;
}
.section-heros-product .contain-row .contain-text .line-pane p {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  display: flex;
  align-items: center;
  margin-left: 12px;
  color: #60697B;
}
.section-heros-product .contain-row .contain-image .bingkai {
  width: 426px;
  height: 426px;
  position: relative;
  border: 8px solid #2666CF;
  border-radius: 10px;
}
.section-heros-product .contain-row .contain-image .product-hero {
  position: absolute;
  top: 30px;
  border-radius: 10px;
}
.section-heros-product .contain-row .contain-image .posisi-card {
  position: absolute;
  top: 300px;
  left: -173px;
}
.section-heros-product .contain-row .contain-image .posisi-card .card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  align-items: center;
}
.section-heros-product .contain-row .contain-image .posisi-card .card img {
  width: 64px;
  height: 64px;
}
.section-heros-product .contain-row .contain-image .posisi-card .card h3 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #333237;
}
.section-heros-product .contain-row .contain-image .posisi-card .card p {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #333237;
}
.section-heros-product .contain-row .contain-image .posisi-card-2 {
  position: absolute;
  right: -28px;
  top: -18px;
}
.section-heros-product .contain-row .contain-image .posisi-card-2 img {
  border-radius: 8px solid white;
}

.section-product-new {
  padding: 40px 0;
  background-color: white;
}
.section-product-new .uk-section {
  background-color: white;
}
.section-product-new .owl-carousel {
  position: relative;
  margin-top: 30px;
}
.section-product-new .owl-nav {
  position: absolute;
  top: -60px;
  left: 10px;
}
.section-product-new .uk-card-primary {
  border-radius: 8px;
}
.section-product-new .uk-card-primary .uk-card-body {
  padding: 10px 10px;
}
.section-product-new .uk-card-primary .uk-card-body .margin-tanos {
  margin-top: 99px;
}
.section-product-new .uk-card-primary .uk-card-body .btn-price {
  display: flex;
  flex-direction: row;
}
.section-product-new .uk-card-primary .uk-card-body .btn-price .btn-pay {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.section-product-new .uk-card-primary .uk-card-body .btn-price .btn-pay .btn-details {
  width: 80px;
  height: 54px;
  background: rgba(38, 102, 207, 0.3);
  border-radius: 6px;
  font-size: 12px;
  padding: auto;
  line-height: 54px;
  text-align: center;
  text-decoration: none;
}
.section-product-new .uk-card-primary .uk-card-body .btn-price .btn-pay .btn-pesan {
  width: 80px;
  height: 54px;
  background: #2666CF;
  border-radius: 6px;
  font-size: 12px;
  border: none;
  color: white;
  padding: auto;
  line-height: 54px;
  text-align: center;
  text-decoration: none;
}
.section-product-new h3 {
  margin-top: 10px;
}
.section-product-new .uk-card:last-child {
  margin-top: 0;
  margin-bottom: 10px;
}
.section-product-new p {
  margin-top: 30px;
  margin-bottom: 0;
}
.section-product-new .owl-next {
  background: #3286f0;
}
.section-product-new .owl-theme .owl-nav [class*=owl-] {
  background: #383838;
}
.section-product-new .owl-dots {
  margin-top: 30px;
}
.section-product-new .uk-card-title {
  padding-bottom: 20px;
}

.section-promo {
  padding: 40px 100px;
  display: flex;
  flex-direction: row;
}
.section-promo .card {
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-promo .card img {
  width: 420px;
  height: 420px;
  -webkit-clip-path: inset(5% 2% 15% 10% round 5% 5% 5% 5%);
          clip-path: inset(5% 2% 15% 10% round 5% 5% 5% 5%);
}
.section-promo .card .sk-card-body h3 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-transform: capitalize;
  color: #151515;
}
.section-promo .card .sk-card-body p {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  /* identical to box height */
  text-align: justify;
  text-transform: capitalize;
  color: #697586;
}

.section-catalog {
  padding: 40px 0;
  background: white;
}
.section-catalog .title-catalog {
  text-align: center;
}
.section-catalog .flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.section-catalog .flex-row .card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.section-catalog .flex-row .card img {
  width: 372px;
  height: 324px;
}
.section-catalog .flex-row .card .uk-card-primary {
  border-radius: 8px;
}
.section-catalog .flex-row .card .uk-card-primary .uk-card-body {
  padding: 10px 10px;
}
.section-catalog .flex-row .card .uk-card-primary .uk-card-body .uk-card-title {
  width: 300px;
}
.section-catalog .flex-row .card .uk-card-primary .uk-card-body .btn-price {
  display: flex;
  flex-direction: row;
}
.section-catalog .flex-row .card .uk-card-primary .uk-card-body .btn-price .btn-pay {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.section-catalog .flex-row .card .uk-card-primary .uk-card-body .btn-price .btn-pay .btn-details {
  width: 80px;
  height: 54px;
  background: rgba(38, 102, 207, 0.3);
  border-radius: 6px;
  font-size: 12px;
  padding: auto;
  line-height: 54px;
  text-align: center;
  text-decoration: none;
}
.section-catalog .flex-row .card .uk-card-primary .uk-card-body .btn-price .btn-pay .btn-pesan {
  width: 80px;
  height: 54px;
  background: #2666CF;
  border-radius: 6px;
  font-size: 12px;
  border: none;
  color: white;
  padding: auto;
  line-height: 54px;
  text-align: center;
  text-decoration: none;
}

.soon {
  padding: 100px 10px;
}
.soon h3 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #333237;
}
.soon .content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.soon .content-row .sk-card {
  width: 392px;
}
.soon .content-row .sk-card .img-product {
  -webkit-clip-path: inset(3% 0 5% 0% round 5% 5% 5% 5%);
          clip-path: inset(3% 0 5% 0% round 5% 5% 5% 5%);
  background-position: center;
}
.soon .content-row .sk-card h3 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #333237;
}
@media (max-width: 480px) {
  .soon .content-row {
    flex-direction: column;
  }
}

.sk-footer {
  height: 481px;
  background: #1C1D1F;
  display: flex;
  flex-direction: row;
  padding: 50px 100px;
  gap: 30px;
  justify-content: center;
}
.sk-footer .bact1 h4 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 30px;
  color: white;
}
.sk-footer .bact1 .contain-icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.sk-footer .bact1 .sk-copy-right p {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.sk-footer .bact2 h5 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  color: #FFFFFF;
}
.sk-footer .bact3 h5 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  color: #FFFFFF;
}
.sk-footer .bact4 h5 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  color: #FFFFFF;
}
@media (max-width: 480px) {
  .sk-footer {
    width: 100%;
  }
  .sk-footer .bact2 {
    display: none;
  }
  .sk-footer .bact3 {
    display: none;
  }
  .sk-footer .bact4 {
    display: none;
  }
}

.section-details {
  margin-top: 20px;
}
.section-details .flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.section-details .flex-row h3 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #2D394E;
}
.section-details .flex-row .contain-produk img {
  width: 420px;
  height: 420px;
  -webkit-clip-path: inset(5% 2% 15% 10% round 5% 5% 5% 5%);
          clip-path: inset(5% 2% 15% 10% round 5% 5% 5% 5%);
}
.section-details .flex-row .contain-produk .card {
  padding: 10px;
}
.section-details .flex-row .contain-produk .card p {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2D394E;
  text-align: justify;
}
.section-details .flex-row .contain-produk .card ol li {
  margin-bottom: 5px;
  text-align: justify;
}
.section-details .flex-row .contain-produk-price .card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.section-details .flex-row .contain-produk-price .card .uk-card-primary {
  border-radius: 8px;
}
.section-details .flex-row .contain-produk-price .card .uk-card-primary img {
  width: 372px;
  height: 324px;
  -webkit-clip-path: inset(5% 2% 15% 10% round 5% 5% 5% 5%);
          clip-path: inset(5% 2% 15% 10% round 5% 5% 5% 5%);
  border-radius: 8px;
}
.section-details .flex-row .contain-produk-price .card .uk-card-primary .uk-card-body {
  padding: 10px 10px;
}
.section-details .flex-row .contain-produk-price .card .uk-card-primary .uk-card-body .btn-price {
  display: flex;
  flex-direction: row;
}
.section-details .flex-row .contain-produk-price .card .uk-card-primary .uk-card-body .btn-price .btn-pay {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.section-details .flex-row .contain-produk-price .card .uk-card-primary .uk-card-body .btn-price .btn-pay .btn-pesan {
  width: 280px;
  height: 54px;
  background: #2666CF;
  border-radius: 6px;
  font-size: 12px;
  border: none;
  color: white;
}/*# sourceMappingURL=app.css.map */