.section-heros-product {
    .contain-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .contain-text {
            width: 400px;

            h3 {
                font-family: Poppins, Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 50px;
                line-height: 140%;
                display: flex;
                align-items: center;
                text-transform: capitalize;
                color: #333237;
            }

            .line-pane {
                padding: padding 10px 12px;
                border-left: 5px solid #FB8351;

                p {
                    font-family: Poppins, Arial, Helvetica, sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 160%;
                    /* or 26px */

                    display: flex;
                    align-items: center;
                    margin-left: 12px;
                    color: #60697B;
                }
            }
        }

        .contain-image {
            .bingkai {
                width: 426px;
                height: 426px;
                position: relative;
                border: 8px solid #2666CF;
                border-radius: 10px;
            }

            .product-hero {
                position: absolute;
                top: 0;
                border-radius: 10px;
            }

            .posisi-card {
                position: absolute;
                top: 320px;
                left: -173px;

                .card {
                    display: flex;
                    flex-direction: row;
                    padding: 10px;
                    gap: 20px;
                    align-items: center;

                    img {
                        width: 64px;
                        height: 64px;
                    }

                    h3 {
                        font-family: Poppins, Arial, Helvetica, sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        text-transform: capitalize;
                        color: #333237;
                    }

                    p {
                        font-family: Poppins, Arial, Helvetica, sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        text-transform: capitalize;
                        color: #333237;
                    }
                }
            }

            .posisi-card-2 {
                position: absolute;
                right: -28px;
                top: -18px;

                img {
                    border-radius: 8px solid white;
                }
            }
        }

    }
}

.section-product-new {
    padding: 40px 0;
    background-color: #ffff;
    .uk-section {
        background-color: #ffff;
    }
    .owl-carousel {
        position: relative;
        margin-top: 30px;
    }
    .owl-nav {
        position: absolute;
        top: -60px;
        left: 10px;
    }
    .uk-card-primary {
        border-radius: 8px;
        .uk-card-body{
            padding: 10px 10px;
            .margin-tanos{
                margin-top: 99px;
            }
            .btn-price{
                display: flex;
                flex-direction: row;
                .btn-pay{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    .btn-details{
                        width: 80px;
                        height: 54px;
                        background: rgba(38, 102, 207, 0.3);
                        border-radius: 6px;
                        font-size: 12px;
                        padding: auto;
                        line-height: 54px;
                        text-align: center;
                        text-decoration: none;
                    }
                    .btn-pesan{
                        width: 80px;
                        height: 54px;
                        background: #2666CF;
                        border-radius: 6px;
                        font-size: 12px;
                        border: none;
                        color: #ffff;
                        padding: auto;
                        line-height: 54px;
                        text-align: center;
                        text-decoration: none;
                    }
                }
            }

        }
    }
    h3 {
        margin-top: 10px;
    }
    .uk-card {
         
        &:last-child {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
    p {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .owl-next {
        background: #3286f0;
    }
    .owl-theme {
        .owl-nav {
            [class*='owl-'] {
                background: #383838;
            }
        }
    }
    .owl-dots {
        margin-top: 30px;
    }
    .uk-card-title {
        padding-bottom: 20px;
    }    
}

.section-promo{
    padding: 40px 100px;
    display: flex;
    flex-direction: row;
    .card{
        padding: 20px 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img{
            width: 420px;
            height: 420px;
            clip-path: inset(5% 2% 15% 10% round 5% 5% 5% 5%);
        }
        .sk-card-body{
            h3{
                font-family: Poppins,Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 44px;
                text-transform: capitalize;
                color: #151515;
            }
            p{
                font-family: Poppins,Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                /* identical to box height */
                text-align: justify;
                text-transform: capitalize;

                color: #697586;

            }

        }
    }
}

.section-catalog{
    padding: 40px 0;
    background: #ffff;
    .title-catalog{
        text-align: center;
    }
    .flex-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        .card{
            width: fit-content;
            img{
                width:372px; 
                height:324px;
            }
            .uk-card-primary {
                border-radius: 8px;
                .uk-card-body{
                    padding: 10px 10px;
                    .uk-card-title{
                        width: 300px;
                    }
                    .btn-price{
                        display: flex;
                        flex-direction: row;
                        .btn-pay{
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            align-items: center;
                            .btn-details{
                                width: 80px;
                                height: 54px;
                                background: rgba(38, 102, 207, 0.3);
                                border-radius: 6px;
                                font-size: 12px;
                                padding: auto;
                                line-height: 54px;
                                text-align: center;
                                text-decoration: none;
                            }
                            .btn-pesan{
                                width: 80px;
                                height: 54px;
                                background: #2666CF;
                                border-radius: 6px;
                                font-size: 12px;
                                border: none;
                                color: #ffff;
                                padding: auto;
                                line-height: 54px;
                                text-align: center;
                                text-decoration: none;
                            }
                        }
                    }
        
                }
            }
        }
    }
}

.soon{
    padding: 100px 10px;
    h3{
        font-family: Poppins,Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        color: #333237;
    }
    .content-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        .sk-card{
            width: 392px;
            .img-product{
                clip-path: inset(3% 0 5% 0% round 5% 5% 5% 5%);
                background-position: center;
            }
            h3{
                font-family: Poppins,Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                color: #333237;
            }
        }
        @include sm{
            flex-direction: column;
        }
    }
}
.sk-footer{
    height: 481px;
    background: #1C1D1F;
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
    gap: 30px;
    justify-content: center;
    .bact1{
        
        h4{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size * 1.3;
            line-height: 30px;
            color: #ffff;
        }
        .contain-icon{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        .sk-copy-right{
            p{
                font-family: Poppins,Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;

            }
        }
    }
    .bact2{
        h5{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size;
            line-height: 30px;
            color: #FFFFFF;
        }
    }
    .bact3{
        h5{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size;
            line-height: 30px;
            color: #FFFFFF;
        }
    }
    .bact4{
        h5{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size;
            line-height: 30px;
            color: #FFFFFF;
        }
    }
    @include sm{
        width: 100%;
        .bact2{display: none;}
        .bact3{display: none;}
        .bact4{display: none;}
    }
}
