.section-details{
    margin-top: 20px;
    .flex-row{
        display: flex;
        flex-direction: row;
        gap: 10px;
        h3{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            color: #2D394E;
        }
        .contain-produk{
            img{
                width: 420px;
                height: 420px;
                clip-path: inset(5% 2% 15% 10% round 5% 5% 5% 5%);
            }
            .card{
                padding: 10px;
                p{
                    font-family: Poppins,Arial, Helvetica, sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #2D394E;
                    text-align: justify;
                }
                ol{
                    li{
                        margin-bottom: 5px;
                        text-align: justify;
                    }
                }
            }
        }
        .contain-produk-price{
            .card{
                width: fit-content;
                .uk-card-primary {
                    border-radius: 8px;
                    img{
                        width:372px; 
                        height:324px;
                        clip-path: inset(5% 2% 15% 10% round 5% 5% 5% 5%);
                        border-radius: 8px;
                    }
                    .uk-card-body{
                        padding: 10px 10px;
                        .btn-price{
                            display: flex;
                            flex-direction: row;
                            .btn-pay{
                                display: flex;
                                flex-direction: row;
                                gap: 10px;
                                align-items: center;
                                .btn-pesan{
                                    width: 280px;
                                    height: 54px;
                                    background: #2666CF;
                                    border-radius: 6px;
                                    font-size: 12px;
                                    border: none;
                                    color: #ffff;
                                }
                            }
                        }
            
                    }
                }
            }
        }
    }
}